file-input {
    display: none; /* Hide the actual file input */
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px 12px;
    background: none;
    cursor: pointer;
  }
  
 
  
  .upload-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  input[type="file"] {
    color: transparent;
  }

  /* -------------------------- */


  /* .tabs:not(:last-child){
border-right: 1px solid black;
  }

  .active-tabs{
    background: white;
    border-bottom :1px solid transparent;
  }

  .active-tabs::before{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100%+2px);
    height: 5px;
    background: rgb(29, 29, 197);
   
  } */